/* Rangeslider */
.slider {
    position: relative;
    width: 100%;
    height: .75em;
}

.sliderTrack,
.sliderRange {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 9999px;
}

.sliderTrack {
    z-index: 1;
}

.sliderRange {
    z-index: 2;
}

.values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

/* Removing the default slider appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    margin: 0;
    background-color: transparent;
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 4;
}

/* Range slider thumb apperance */
.thumb::-webkit-slider-thumb {
    background-color: var(--accent);
    border: none;
    border-radius: 50%;
    outline: 2px solid black;
    cursor: pointer;
    height: 20px;
    width: 20px;
    pointer-events: all;
    position: relative;
}

.thumb::-moz-range-thumb {
    background-color: var(--accent);
    border: none;
    border-radius: 50%;
    outline: 2px solid black;
    cursor: pointer;
    height: 20px;
    width: 20px;
    pointer-events: all;
    position: relative;
}

