/* Rangeslider */

.rangeSliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 60px 0;
    position: relative;
}

.slider {
    position: relative;
    width: 100%;
    height: .75em;
}

.sliderTrack,
.sliderRange {
    position: absolute;
    border-radius: 1em;
}

.sliderTrack {
    background-color: var(--accent);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.sliderRange {
    background-color: var(--accent);
    z-index: 2;
}

.sliderValues {
    font-weight: bold;
}


/* Removing the default slider appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    top: 4px; /* Magic number, replace if someone figures out how */
    height: 0;
    width: 100%;
    outline: none;
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: var(--accent);
    outline: 2px solid black;
    border-radius: 50%;
    cursor: grab;
    height: 20px;
    width: 20px;
    position: relative;
    pointer-events: all;
}

.thumb::-webkit-slider-thumb:active {
    cursor: grabbing;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: var(--accent);
    outline: 2px solid black;
    border-radius: 50%;
    cursor: grab;
    height: 20px;
    width: 20px;
    position: relative;
}

.thumb::-moz-range-thumb:active {
    cursor: pointer;
}