.button {
    margin: 0 auto;
    display: grid;
    background-color: white;
    border-radius: .5em .5em 0 0;
    padding: 0 2em;
    cursor: pointer;
    border: 2px solid black;
    border-bottom: none;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
}

.backButton {
    position: relative; 
    display: grid; 
    cursor: pointer;
    background-color: unset;
    border: unset;
}

@media only screen and (orientation: portrait) {
    #hideBtn {
        visibility: hidden;
    }

    #openBtn {
        visibility: hidden;
    }
}