/* sidebar container */
.aside {
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 1em 1em;
    z-index: 2;
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.aside::-webkit-scrollbar {
    display: none;
}

.aside > * {
    margin: 1em 0;
}

@media (max-width: 1000px) {
    .aside {
        margin: unset;
        width: 100%;
        max-height: 100%;
        overflow: auto;
        z-index: 3;
    }
    .aside > * {
        margin: unset;
    }
}

/* For phone */
.phoneWrapper {
    position: relative;
    padding: 1em;
    z-index: 11;
}

/* Hamburger */
.background {
    height: 3em;
    width: 3em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
    border-radius: 50%;
}

.checkbox:checked~.background {
    transform: scale(80);
    background-color: rgba(255, 255, 255, .9);
}

.checkbox:not(:checked) ~.phoneWrapper {
    display: none;
}

.checkbox:checked~.phoneWrapper {
    opacity: 1;
    width: 100%;
    right: 0;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon, .icon::before, .icon::after {
    width: 1.5em;
    height: 2px;
    background-color: black;
    display: inline-block;
}

.icon::before, .icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.5s;
}

.icon::before {
    top: -0.5rem;
}

.icon::after {
    top: 0.5rem;
}

.button:hover icon:before {
    top: -1rem;
}

.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked+.button .icon {
    background-color: transparent;
}

.checkbox:checked+.button .icon::before {
    top: 0;
    transform: rotate(135deg);
}

.checkbox:checked+.button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.checkbox {
    display: none;
}

.button {
    background-color: rgba(255, 255, 255, .9);
    height: 3em;
    width: 3em;
    position: fixed;
    border-bottom-right-radius: .5em;
    top: 0;
    left: 0;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
}

/* For pc */
.sidebar {
    margin-bottom: 0;
    height: 60vh;
    background-color: white;
    z-index: 2;
    border: 3px solid black;
    border-radius: .5em .5em 0 0;
    border-bottom: none;
    padding: .1em;
}


/* Scrollbar */

.sidebar > div {
    padding: .5em;
    height: 100%;
    overflow: auto;
    scrollbar-width: auto;
    scrollbar-color: var(--light) #ffffff;
}

/* Chrome, Edge, and Safari */
.sidebar > div::-webkit-scrollbar {
    width: 1em;
}

.sidebar > div::-webkit-scrollbar-track {
    background: #ffffff;
    background-clip: padding-box;
}

.sidebar > div::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: .5em;
    border: 3px solid #ffffff;
    background-clip: padding-box;
}

.sidebar > div::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: .5em;
    border: 3px solid #ffffff;
    background-clip: padding-box;
}

/* Filter components */

.filterButtons {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 100px), 1fr));
    grid-auto-rows: auto;
    text-align: center;
}

.filterButtons p {
    margin-bottom: .5em;
}


/* Checkboxes */

.form {
    width: 100%;
}

.input {
    position: relative;
    display: block;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 0 3px var(--light);
    margin: 1em 0;
    padding: .5em 2em .5em 1em;
}

.input input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}

.input label:after {
    content: '';
    position: absolute;
    top: 50%;
    right: .5em;
    width: 1.5em;
    height: 1.5em;
    transform: translateY(-50%);
    border: 2px solid var(--accent);
    border-radius: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='30' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}

.input input:checked~label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.input input:checked~label:after {
    background-color: var(--accent);
}

/* Button to clear filters */

.clearFilter {
    margin-top: 0;
    padding: .5em;
    border-radius: 0 0 .5em .5em;
    background-color: white;
    border: 3px solid black;
    z-index: 10;
}

/* Close and open sidebar */
.sidebarClose {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: calc(50% - 150px); /* TODO: Fix this magic number */
    left: calc(400px - 1em);
    animation: moveOpenButton 0.2s;
}

.hiddenSidebar {
    width: 0%;
    height: 0%;
    position: fixed;
    top: 100px;
    left: 10px;
}

.sidebarOpen {
    z-index: 4;
    top: calc(50% - 150px); /* TODO: Fix this magic number */
    position: fixed;
    height: 3%;
    left: 0;
    animation: moveHideButton 0.2s;
}

/* IDs */

#clearBtn {
    background-color: var(--accent);
    border: none;
    color: black;
    border-radius: .5em;
    padding: .5em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
}

/* Hide/Show sidebar button */
#hideBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    opacity: 90%;
    border: 2px solid #8a8a8a;
    border-radius: 10px;
    height: 48px;
    width: 24px;
    padding: 5px;
    cursor: pointer;
    z-index: 4;
    border-left: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    outline: none;
    transition: .3s .1s;
    -webkit-user-select: none;
    user-select: none;

}

#openBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    opacity: 90%;
    border: 2px solid #8a8a8a;
    border-radius: 10px;
    height: 48px;
    width: 24px;
    padding: 5px;
    cursor: pointer;
    z-index: 4;
    border-left: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    outline: none;
    transition: .3s .1s;
    -webkit-user-select: none;
    user-select: none;
}

/* Filter buttons for stories */

.categoryBtn {
    border: black;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.categoryBtn:hover {
    opacity: 0.8;
}

.categoryBtn img {
    width: 30px;
    height: 30px;
}

/* different color for each category */

#Bygg-och-anläggning {
    background-color: #BF40BF;
}

#Grön-energi {
    background-color: #008080;
}

#Hållbarhet {
    background-color: #FF00FF;
}

#Social-hållbarhet {
    background-color: #7F00FF;
}

#Mobilitet {
    background-color: #6495ED;
}

#Elnät {
    background-color: #2AAA8A;
}

#Hälsa-och-bioteknik {
    background-color: #FF0000;
}

#Hälsa-och-bioteknik img {
    padding-top: 3px;
    width: 35px;
    height: 35px;
}

#Miljöteknik {
    background-color: #9ACD32;
}

#Energilagring {
    background-color: #FFC000;
}

#Agrara-näringar {
    background-color: #228B22;
}

#Livsmedel {
    background-color: #FF7518;
}

#Vatten-och-avlopp {
    background-color: #0047AB;
}

#Övrigt {
    background-color: #808080;
}

#Demontering {
    background-color: #FF0000;
}

#Demontering img {
    width: 40px;
    height: 40px;
}

#Nybyggnation {
    background-color: #6495ED;
}

#Nybyggnation img {
    width: 40px;
    height: 40px;
}

#Ombyggnation {
    background-color: #228B22;
}

#Mellanlagring {
    background-color: #fd9800;
}

/* Keyframes and mediaqueries */

@keyframes moveHideButton {
    0% {
        left: 20%;
    }

    100% {
        left: 0;
    }
}

@keyframes moveOpenButton {
    0% {
        left: 0;
    }

    100% {
        left: 20%;
    }
}

@media screen and (min-width: 2000px) {
    @keyframes moveHideButton {
        0% {
            left: 12%;
        }

        100% {
            left: 0;
        }
    }

    @keyframes moveOpenButton {
        0% {
            left: 0;
        }

        100% {
            left: 12%;
        }
    }
}
 