/* For phone */
.phoneWrapper {
    position: relative;
    padding: 1em;
    z-index: 11;
}

/* Hamburger */
.background {
    height: 3em;
    width: 3em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
    border-radius: 50%;
}

.checkbox:checked~.background {
    transform: scale(80);
    background-color: rgba(255, 255, 255, .9);
}

.checkbox:not(:checked) ~.phoneWrapper {
    display: none;
}

.checkbox:checked~.phoneWrapper {
    opacity: 1;
    width: 100%;
    right: 0;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon, .icon::before, .icon::after {
    width: 1.5em;
    height: 2px;
    background-color: black;
    display: inline-block;
}

.icon::before, .icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.5s;
}

.icon::before {
    top: -0.5rem;
}

.icon::after {
    top: 0.5rem;
}

.button:hover icon:before {
    top: -1rem;
}

.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked+.button .icon {
    background-color: transparent;
}

.checkbox:checked+.button .icon::before {
    top: 0;
    transform: rotate(135deg);
}

.checkbox:checked+.button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.checkbox {
    display: none;
}

.button {
    background-color: rgba(255, 255, 255, .9);
    height: 3em;
    width: 3em;
    position: fixed;
    border-bottom-right-radius: .5em;
    top: 0;
    left: 0;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
}


/* Filter components */

.filterButtons {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 100px), 1fr));
    grid-auto-rows: auto;
    text-align: center;
}

.filterButtons p {
    margin-bottom: .5em;
}


/* Checkboxes */

.form {
    width: 100%;
}

.input {
    position: relative;
    display: block;
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 0 3px var(--light);
    margin: 1rem 0;
    padding: .5rem;
}

.input input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}

.input label:after {
    content: '';
    position: absolute;
    top: 50%;
    right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-50%);
    border: 2px solid var(--accent);
    border-radius: .25rem;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='30' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}

.input input:checked~label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.input input:checked~label:after {
    background-color: var(--accent);
}

/* Filter buttons for stories */

.categoryBtn {
    border: black;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.categoryBtn:hover {
    opacity: 0.8;
}

.categoryBtn img {
    width: 30px;
    height: 30px;
}

/* different color for each category */

#Demontering {
    background-color: #FF0000;
}

#Demontering img {
    width: 40px;
    height: 40px;
}

#Nybyggnation {
    background-color: #6495ED;
}

#Nybyggnation img {
    width: 40px;
    height: 40px;
}

#Ombyggnation {
    background-color: #228B22;
}

#Mellanlagring {
    background-color: #fd9800;
}
