.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

#downloadCsv {
    cursor: pointer;
}

#downloadCsv:hover {
    opacity: 0.8;
}

#downloadCsv img {
    height: 100px;
    width: 1000px;
}