.findAddressContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #8a8a8a;
    box-shadow: 5px 10px #00000015;
    border-radius: 10px;
}

.addressContent {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 0;
}

.address {
    padding: 5px 0 5px 0;
}

.container {
    display: flex;
}

.latLon {
    width: 100%;
    border: none;
    background-color: #ebebeb;
    padding-top: 10px;
}

.latLon input {
    height: 30px;
    width: 90%;
    border: 0;
    margin: 0 10px;
    border-bottom: 2px solid #333;
    background-color: #ebebeb;
}

.latLon input:focus {
    outline: none;
    border-bottom: 2px solid #ff7300
}

#addressBtn {
    padding: 5px;
    width: 50px;
    margin-left: 5px;
    border-radius: 5px;
    border: 2px solid #8a8a8a;
    background-color: #f2f2f2;
}

#addressBtn:hover {
    background-color: #ff7300;
    border: 1px solid #000000;
    cursor: pointer;
    box-shadow: 5px 5px #00000015;
}

#search {
    width: 100%;
    padding: 5px;
}

#searchDir {
    display: flex;
}

#searchDir input {
    border: 0;
    border-bottom: 2px solid #333;
    padding: 10px 0;
    display: block;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    width: 100%;
    transition: 0.1s ease-in;
    background-color: #ebebeb;
}

#searchDir input:focus {
    outline: none;
    border-bottom: 2px solid #ff7300
}

#results {
    padding: 10px 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}