* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}


/* searchbar */
.search {
  width: 100%;
  position: relative;
  display: flex;
  z-index: 2;
}

.searchIcon {
  position: absolute;
  right: 0;
  transform: translate(-10%, 15%);
  opacity: 0.8;
}

.searchTerm {
  width: 100%;
  border: 2px solid #8a8a8a;
  padding: 5px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  color: #949494;
}

.searchTerm:focus {
  color: black;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 20.5vw;
  position: absolute;
  top: 5%;
  transform: translate(5px, -50%);
}

/*Add new post*/
.addNewPost {
  position: fixed;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  margin: 30px;
  padding-right: 30px;
  z-index: 2;
}

/*Add new post button*/
.addNewPostButton {
  background-color: #f2f2f2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid #8a8a8a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addNewPostButton img {
  height: 60px;
  width: 60px;
}

.addNewPostButton:hover {
  background-color: #cccccc;
}

.filterTextContent {
  position: fixed;
  z-index: 2;
  top: 65px;
  left: 10px;
}

.filterTextContainer {
  width: fit-content;
}

.filterText {
  font-size: 15px;
  z-index: 4;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  transition: all 0.3s ease;
}