:root {

	--danger-light: hsl(359, 70%, 53%);
	--danger: hsl(359, 70%, 43%);
	--danger-dark: hsl(359, 70%, 33%);

	--light: lightgray;
	
	--confirm-light: hsl(212, 100%, 77%);
	--confirm: hsl(212, 100%, 47%);
	--confirm-dark: hsl(212, 100%, 37%);

	--accent-light: hsl(36, 100%, 75%);
	--accent: hsl(36, 100%, 50%);
	--accent-dark: hsl(36, 100%, 40%);
}

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
	z-index: 1;
}

*::before,
*::after {
	box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("main.css");

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

/* TODO: Probably structure this aside css stuff better at some point */

aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {
	font-weight: 500;
}

aside h2 {
	font-size: 1rem;
}

/* width */
aside ::-webkit-scrollbar {
	width: 10px;
}

/* Track */
aside ::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 9999px;
}

/* Handle */
aside ::-webkit-scrollbar-thumb {
	background: lightgray;
	border-radius: 9999px;
}

/* Handle on hover */
aside ::-webkit-scrollbar-thumb:hover {
	background: #bdbdbd;
}

p {
	line-height: 1.5;
}

.layout-main {
	position: relative;
	margin: auto;
	width: 1250px;
	max-width: 100%;
	padding: 0 1em;
}

.card {
    box-shadow: 0 0 1em var(--light);
    padding: 2em;
    margin: auto;
    border-radius: .5em;
    margin: 5em 0;
}

@media (max-width: 500px) {
    .card {
        box-shadow: unset;
        margin: 2em 0;
        padding: unset;
    }
}

/* Grid layouts */
.grid-auto-rows {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: auto;
}

@media (max-width: calc(350px + 2em)) {
    .grid-auto-rows {
        grid-template-columns: 1fr;
    }
	form .grid-auto-rows {
		gap: 0;
	}
}

.danger {
	background-color: var(--danger);
	color: white;
}

.danger:hover {
	background-color: var(--danger-dark);
}

.danger-secondary {
	border: 3px solid var(--danger);
	background-color: transparent;
	color: black;
}

.danger-secondary:hover {
	border-color: var(--danger-dark);
}

.cta {
	background-color: var(--accent);
	color: black;
}

.cta:hover {
	background-color: var(--accent-dark);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

textarea {
	resize: vertical;
}	

/* Marker cluster stuff */

.leaflet-control-zoom {
	margin: 1rem !important; /* TODO: made important to override other leaflet stuff, probably structure this better at some point :) */
}

/* To solve Next.js issues source from https://github.com/Leaflet/Leaflet.markercluster/blob/master/dist/MarkerCluster.css */
.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

/* To solve Next.js issues source from https://github.com/Leaflet/Leaflet.markercluster/blob/master/dist/MarkerCluster.Default.css */
.marker-cluster-small {
	background-color: #a7a7a7;
}

.marker-cluster-small div {
	background-color: #f1f1f1;
}

.marker-cluster-medium {
	background-color: #a7a7a7;
}

.marker-cluster-medium div {
	background-color: #f1f1f1;
}

.marker-cluster-large {
	background-color: #a7a7a7;
}

.marker-cluster-large div {
	background-color: #f1f1f1;
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-small div {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-medium {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-medium div {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-large {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-large div {
	background-color: #f1f1f1;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}

.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.marker-cluster span {
	line-height: 30px;
}

/* Temp solutions */

.nextui-expand-content { /* Keeps child element from being cut off (Change child elements box shadow to border instead?) */
	padding: .5em;
}

/* Toggle Switch */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

/* More temp stuff */

.navbar-link {
	white-space: nowrap;
	transition: background-color .1s ease;
	border-radius: .25rem;
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.navbar-link:hover {
	background-color: #e0e6eb;
}

aside:has(#toggle-nav:checked) {
	width: calc(24px + 2rem);
}

#filter-menu-toggle {
	width: 24px;
	height: 24px;
}

#filter-menu {
	transition: transform .3s ease;
}

#filter-menu:has(#filter-menu-toggle:checked) {
	transform: translate(calc(-100% + 24px), 0);
}