:root {
	--light: #ececec;
	
	--accent-light: hsl(36, 100%, 75%);
	--accent: hsl(36, 100%, 50%);
	--accent-dark: hsl(36, 100%, 40%);
}

* {
	padding: 0;
	box-sizing: border-box;
	z-index: 1;
}

*::before,
*::after {
	box-sizing: inherit;
}


@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("forms.css");

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout-main {
	position: relative;
	margin: auto;
	width: 1250px;
	max-width: 100%;
	padding: 0 1em;
}

.card {
    box-shadow: 0 0 1em var(--light);
    padding: 2em;
    margin: auto;
    border-radius: .5em;
    margin: 5em 0;
}

@media (max-width: 500px) {
    .card {
        box-shadow: unset;
        margin: 2em 0;
        padding: unset;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

textarea {
	resize: none;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #8a8a8a;
}

/* Marker cluster stuff */

/* To solve Next.js issues source from https://github.com/Leaflet/Leaflet.markercluster/blob/master/dist/MarkerCluster.css */
.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

/* To solve Next.js issues source from https://github.com/Leaflet/Leaflet.markercluster/blob/master/dist/MarkerCluster.Default.css */
.marker-cluster-small {
	background-color: #a7a7a7;
}

.marker-cluster-small div {
	background-color: #f1f1f1;
}

.marker-cluster-medium {
	background-color: #a7a7a7;
}

.marker-cluster-medium div {
	background-color: #f1f1f1;
}

.marker-cluster-large {
	background-color: #a7a7a7;
}

.marker-cluster-large div {
	background-color: #f1f1f1;
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-small div {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-medium {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-medium div {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-large {
	background-color: #f1f1f1;
}

.leaflet-oldie .marker-cluster-large div {
	background-color: #f1f1f1;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}

.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.marker-cluster span {
	line-height: 30px;
}