* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

#header {
    font-size: large;
    padding: 10px;
    margin: 0em;
    background-color: #f1f1f1;
    box-shadow: 0 10px 10px 5px #00000015;
}

.header img {
    float: top;
    width: 170px;
    height: 50px;
    margin-left: 20px;
}

.addPostContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px;
}

.addNewPostTitle {
    padding-bottom: 20px;
}

.newPostTitle {
    font-size: 20px;
    font-weight: 500;
}

.addNewPostContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 50%;
    padding: 100px;
    background-color: #ebebeb;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px 10px 5px #00000015;
}

.addNewPostFormName,
.addNewPostFormOrganization,
.addNewPostFormDescription,
.addNewPostFormLocation,
.addNewPostFormContact,
.typeOfProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}

.addNewPostFormName input,
.addNewPostFormOrganization input,
.addNewPostFormLocation input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #8a8a8a;
}

.addNewPostFormDescription textarea,
.addNewPostFormContact textarea {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #8a8a8a;
}

.addNewPostFormSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.addNewPostFormSubmit button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #8a8a8a;
    background-color: #f2f2f2;
}

textarea {
    resize: none;
}

.addNewPostFormLists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
}

.optionList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.test {
    padding: 5px;
}

.inputField {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #8a8a8a;
    background-color: #ebebeb;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -10px 10px 5px #00000015;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.footerRow {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-height: 180px;
}

.footerHeader {
    font-size: 20px;
    font-weight: 500;
}

.footerLink {
    font-size: 16px;
    font-weight: 4000;
}

.footerLink a {
    color: #e47b1e;
}

.footerLink a:visited {
    color: #e47b1e;
}