* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

#header {
    font-size: large;
    padding: 10px;
    margin: 0em;
    background-color: #f1f1f1;
    box-shadow: 0 10px 10px 5px #00000015;
}

.header img {
    float: top;
    width: 170px;
    height: 50px;
    margin-left: 20px;
}

.addPostContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px;
}

.addNewPostTitle {
    padding-bottom: 20px;
}

.newPostTitle {
    font-size: 20px;
    font-weight: 500;
}

.addNewPostContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 50%;
    padding: 100px;
    background-color: #ebebeb;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px 10px 5px #00000015;
}

.addNewPostFormName,
.addNewPostFormOrganization,
.startYear,
.startMonth,
.addNewPostFormDescription,
.addNewPostFormLocation,
.addNewPostFormContact,
.addNewPostFormExternalLinks,
.typeOfProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}

.addNewPostFormName input,
.addNewPostFormLocation input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #8a8a8a;
}


/* Toogle map*/
.switch {
    position: relative;
    display: inline-block;
}

.switch-input {
    display: none;
}

.switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}

.switch-label:before,
.switch-label:after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-label:before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    transition: background-color 0.25s ease;
}

.switch-label:after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    transition: left 0.25s ease;
}

.switch-input:checked+.switch-label:before {
    background-color: #89c12d;
}

.switch-input:checked+.switch-label:after {
    left: 24px;
}

.addNewPostFormOrganization select {
    height: 30px;
    width: 40%;
    border: 2px solid #8a8a8a;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.addNewPostFormOrganization option {
    width: 100%;
    line-height: 45px;
    padding-left: 20px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.startYear input {
    height: 30px;
    width: 20%;
    border-radius: 5px;
    border: 2px solid #8a8a8a;
}

.startMonth select {
    height: 30px;
    width: 20%;
    border: 2px solid #8a8a8a;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.addNewPostFormDescription textarea,
.addNewPostFormContact textarea,
.addNewPostFormExternalLinks textarea {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #8a8a8a;
}

.addNewPostFormSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.addNewPostFormSubmit button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #8a8a8a;
    background-color: #f2f2f2;
}

textarea {
    resize: none;
}

.addNewPostFormLists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    margin-top: 10px;
}

.optionList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.padding {
    padding: 5px;
}

.padding label {
    padding: 5px;
}

.inputField {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #8a8a8a;
    background-color: #ebebeb;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -10px 10px 5px #00000015;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.footerRow {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-height: 180px;
}

.footerHeader {
    font-size: 20px;
    font-weight: 500;
}

.footerLink {
    font-size: 16px;
    font-weight: 4000;
}

.footerLink a {
    color: #e47b1e;
}

.footerLink a:visited {
    color: #e47b1e;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#locationToggle {}

/* css for the findAddress.tsx file, change to new css file*/

.findAddressContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #8a8a8a;
    box-shadow: 5px 10px #00000015;


}

.addressContent {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 0;
}

.address {
    padding: 5px 0 5px 0;

}

#lat,
#lon {
    max-width: 40%;
    border: none;
    background-color: #ebebeb;
    border-bottom: 2px solid #8a8a8a;
}

#addressBtn {
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    border: 2px solid #8a8a8a;
    background-color: #f2f2f2;
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#search {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

#searchDir {
    display: flex;
}

#results {
    padding: 10px 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}