#header {
    font-size: large;
    padding: 10px;
    margin: 0em;
    background-color: #f1f1f1;
    box-shadow: 0 10px 10px 5px #00000015;
}

.header img {
    float: top;
    width: 170px;
    height: 50px;
    margin-left: 20px;
}

.addPostContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.addNewPostTitle {
    padding-bottom: 20px;
}


.addNewPostContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 40%;
    padding: 100px;
    background-color: #ebebeb;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px 10px 5px #00000015;
}

.addNewPostForm,
.addNewPostFormSelect,
.addNewPostFormTitle,
.addNewPostFormOrientation,
.addNewPostFormName,
.startYear,
.addNewPostFormDescription,
.addNewPostFormContact,
.energyStory,
.addNewPostFormExternalLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.addNewPostFormTitle input,
.addNewPostFormName input,
.addNewPostFormOrientation input {
    border: 0;
    border-bottom: 2px solid #333;
    padding: 10px 0;
    display: block;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    width: 50%;
    transition: 0.1s ease-in;
    background-color: #ebebeb;
}

.addNewPostFormTitle input:focus,
.addNewPostFormName input:focus,
.addNewPostFormOrientation input:focus {
    outline: none;
    border-bottom: 2px solid #ff7300;
}

.addNewPostFormSelect select {
    height: 30px;
    width: 40%;
    border: 2px solid #8a8a8a;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.addNewPostFormSelect select:focus {
    outline: none;
    border: 2px solid #ff7300;
}

.addNewPostFormSelect option {
    width: 100%;
    line-height: 45px;
    padding-left: 20px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.startYear input {
    border: 0;
    border-bottom: 2px solid #333;
    padding: 10px 0;
    display: block;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    width: 20%;
    transition: 0.1s ease-in;
    background-color: #ebebeb;
}

.startYear input:focus {
    outline: none;
    border-bottom: 2px solid #ff7300;
}

.addNewPostFormDescription textarea,
.addNewPostFormContact textarea,
.addNewPostFormExternalLinks textarea {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #8a8a8a;
}

.addNewPostFormDescription textarea:focus,
.addNewPostFormContact textarea:focus,
.addNewPostFormExternalLinks textarea:focus {
    outline: none;
    border: 2px solid #ff7300;
}

.addNewPostFormSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.addNewPostFormSubmit button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #8a8a8a;
    background-color: #f2f2f2;
}

#save {
    background-color: #00cc11d7;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}


/* CSS for both type of project and searching for and offering checkboxes*/
.optionList {
    width: 100%;
}

.form {
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
}

.inputGroup {
    background-color: #ffffff;
    display: block;
    margin: 3px 10px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #b1b1b1;
}

.typeInputGroup {
    background-color: #ffffff;
    display: block;
    margin: 3px 10px;
    position: relative;
    border-radius: 20px;
    max-width: 30%;
    border: 1px solid #b1b1b1;
}

.inputGroup label,
.typeInputGroup label {
    padding: 1px 20px;
    width: 100%;
    display: block;
    text-align: left;
    color: #000000;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}


.inputGroup label:before,
.inputypeInputGrouptGroup label::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    position: absolute;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup label:after {
    width: 25px;
    height: 25px;
    content: '';
    border: 2px solid #D1D7DC;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='30' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.typeInputGroup label::after {
    width: 25px;
    height: 25px;
    content: '';
    border: 2px solid #D1D7DC;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='30' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.inputGroup input:checked~label:before,
.typeInputGroup input:checked~label::before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup input:checked~label:after,
.typeInputGroup input:checked~label::after {
    background-color: #ff7300;
    border-color: #000000;
}

.inputGroup input,
.typeInputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

/* Toogle map currently not used*/
.switch {
    position: relative;
    display: inline-block;
}

.switchInput {
    display: none;
}

.switchLabel {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}

.switchLabel:before,
.switchLabel:after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switchLabel:before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    transition: background-color 0.25s ease;
}

.switchLabel:after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    transition: left 0.25s ease;
}

.switchInput:checked+.switchLabel:before {
    background-color: #89c12d;
}

.switchInput:checked+.switchLabel:after {
    left: 24px;
}

.inputGroup {
    background-color: #ffffff;
    display: block;
    margin: 3px 10px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #b1b1b1;
}

.typeInputGroup {
    background-color: #ffffff;
    display: block;
    margin: 3px 10px;
    position: relative;
    border-radius: 20px;
    max-width: 30%;
    border: 1px solid #b1b1b1;
}

.inputGroup label,
.typeInputGroup label {
    padding: 1px 20px;
    width: 100%;
    display: block;
    text-align: left;
    color: #000000;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}


.inputGroup label:before,
.inputypeInputGrouptGroup label::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    position: absolute;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup label:after {
    width: 25px;
    height: 25px;
    content: '';
    border: 2px solid #D1D7DC;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='30' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.typeInputGroup label::after {
    width: 25px;
    height: 25px;
    content: '';
    border: 2px solid #D1D7DC;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='30' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.inputGroup input:checked~label:before,
.typeInputGroup input:checked~label::before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup input:checked~label:after,
.typeInputGroup input:checked~label::after {
    background-color: #ff7300;
    border-color: #000000;
}

.inputGroup input,
.typeInputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.footer {
    left: 0;
    bottom: 0;
    width: auto;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -10px 10px 5px #00000015;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
}

.footerRow {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-height: 180px;
}

.footerHeader {
    font-size: 20px;
    font-weight: 500;
}

.footerLink {
    font-size: 16px;
    font-weight: 4000;
}

.footerLink a {
    color: #e47b1e;
}

.footerLink a:visited {
    color: #e47b1e;
}