/* sidebar container */
.sidebar {
    width: 20%;
    height: calc(85% - 120px);
    background-color: #f1f1f1;
    position: fixed;
    z-index: 2;
    top: 110px;
    left: 10px;
    border: 2px solid #8a8a8a;
    border-radius: 10px;
    opacity: 90%;
    overflow: auto;
    scrollbar-color: #8a8a8a transparent;
    scrollbar-width: thin;
}

.sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.sidebarTitle {
    margin-top: 5%;
}

/* Filter components */
.filterBtn {
    margin-top: 1%;
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}

.filterBtnRecycle {
    margin-top: 1%;
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}


.form {
    padding: 0 16px;
    margin: 50px auto;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
}

.inputGroup {
    background-color: #ffffff;
    display: block;
    margin: 10px 0;
    position: relative;
    border-radius: 20px;
}

.inputGroup label {
    padding: 1px 20px;
    width: 100%;
    display: block;
    font-size: 13px;
    text-align: left;
    color: #000000;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

#inputGroupOrg label {
    padding: 8px 20px;
    width: 100%;
    display: block;
    font-size: 13px;
    text-align: left;
    color: #000000;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup label:after {
    width: 25px;
    height: 25px;
    content: '';
    border: 2px solid #D1D7DC;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='30' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.inputGroup input:checked~label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup input:checked~label:after {
    background-color: #ff7300;
    border-color: #000000;
}

.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.clearFilter {
    padding: 5px;
    width: inherit;
    left: inherit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: calc(90% - 90px);
    position: fixed;
    background-color: #f0f0f0;
    border: 2px solid #8a8a8a;
    border-top: 1px solid #8a8a8a;
    z-index: 10;

}

/* Close and open sidebar */
.sidebarClose {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: calc(100% / 2 - 47px);
    left: calc(20% + 10px);
    animation: moveOpenButton 0.2s;
}

.hiddenSidebar {
    width: 0%;
    height: 0%;
    position: fixed;
    top: 100px;
    left: 10px;
}

.sidebarOpen {
    z-index: 4;
    top: calc(100% / 2 - 47px);
    position: fixed;
    height: 3%;
    left: 0;
    animation: moveHideButton 0.2s;
}

/* IDs */

#clearBtn {
    background-color: #fd9800;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
}

/* Hide/Show sidebar button */
#hideBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    opacity: 90%;
    border: 2px solid #8a8a8a;
    border-radius: 10px;
    height: 48px;
    width: 24px;
    padding: 5px;
    cursor: pointer;
    z-index: 4;
    border-left: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    outline: none;
    transition: .3s .1s;
    -webkit-user-select: none;
    user-select: none;

}

#openBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    opacity: 90%;
    border: 2px solid #8a8a8a;
    border-radius: 10px;
    height: 48px;
    width: 24px;
    padding: 5px;
    cursor: pointer;
    z-index: 4;
    border-left: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    outline: none;
    transition: .3s .1s;
    -webkit-user-select: none;
    user-select: none;
}

/* Keyframes and mediaqueries */

@keyframes moveHideButton {
    0% {
        left: 20%;
    }

    100% {
        left: 0;
    }
}

@keyframes moveOpenButton {
    0% {
        left: 0;
    }

    100% {
        left: 20%;
    }
}

@media screen and (min-width: 2000px) {
    .sidebar {
        width: 12%;
    }

    .sidebarClose {
        left: calc(12% + 10px);
    }

    @keyframes moveHideButton {
        0% {
            left: 12%;
        }

        100% {
            left: 0;
        }
    }

    @keyframes moveOpenButton {
        0% {
            left: 0;
        }

        100% {
            left: 12%;
        }
    }
}

@media screen and (max-width: 1500px) {
    .filterBtnRecycle {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
}


/* Filter buttons for stories */
.alignCategories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    margin-top: 3%;
}

.alignCategoriesRecycle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    margin-top: 3%;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: .5em 0 .5em .5em;
    padding: .5em;
    text-align: center;
}

.categoryContainerRecycle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: .5em 0 .5em .5em;
    padding: .5em;
    text-align: center;
}

.categoryBtn {
    border: black;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.categoryBtn:hover {
    opacity: 0.8;
}

.categoryBtn img {
    width: 30px;
    height: 30px;
}

/* different color for each category */

#Bygg-och-anläggning {
    background-color: #BF40BF;
}

#Grön-energi {
    background-color: #008080;
}

#Social-hållbarhet {
    background-color: #7F00FF;
}

#Mobilitet {
    background-color: #6495ED;
}

#Elnät {
    background-color: #2AAA8A;
}

#Bioteknik {
    background-color: #FF00FF;
}

#Miljöteknik {
    background-color: #9ACD32;
}

#Energilagring {
    background-color: #FFC000;
}

#Agrara-näringar {
    background-color: #228B22;
}

#Livsmedel {
    background-color: #FF7518;
}

#Hälsa {
    background-color: #FF0000;
}

#Vatten-och-avlopp {
    background-color: #0047AB;
}

#Rivning {
    background-color: #FF0000;
}

#Rivning img {
    width: 40px;
    height: 40px;
}

#Nybyggnation {
    background-color: #6495ED;
}

#Nybyggnation img {
    width: 40px;
    height: 40px;
}

#Ombyggnation {
    background-color: #228B22;
}

@media only screen and (orientation: portrait) {
    .sidebar {
        visibility: hidden;
    }
}